footer.footer
  .container.footer-nav
    ul.listnav
      li.listnav-item.acr_tit − 人気オンラインカジノ比較
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") ベラジョンカジノ
        li.listnav-item
          a(href=dir+"") ミスティーノ
        li.listnav-item
          a(href=dir+"") インターカジノ
        li.listnav-item
          a(href=dir+"") カジノシークレット
        li.listnav-item
          a(href=dir+"") 遊雅堂
        li.listnav-item
          a(href=dir+"") ビットカジノ
        li.listnav-item
          a(href=dir+"") ラッキーニッキーカジノ
        li.listnav-item
          a(href=dir+"") カジ旅
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノ基礎編
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") オンラインカジノとは？
        li.listnav-item
          a(href=dir+"") オンラインカジノは違法？合法？
        li.listnav-item
          a(href=dir+"") オンラインカジノと税金の関係性
        li.listnav-item
          a(href=dir+"") オンラインカジノは稼げる？
        li.listnav-item
          a(href=dir+"") 悪質なオンラインカジノの見分け方
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノ応用編
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") オンラインカジノの登録方法
        li.listnav-item
          a(href=dir+"") オンラインカジノへ入金・出金する方法
        li.listnav-item
          a(href=dir+"") オンラインカジノから出金する方法
        li.listnav-item
          a(href=dir+"") オンラインカジノのボーナスについて
        li.listnav-item
          a(href=dir+"") ライブカジノとテーブルゲームについて
        li.listnav-item
          a(href=dir+"") オンラインカジノを無料で遊ぶ方法
        li.listnav-item
          a(href=dir+"") オンラインカジノで負けないためには？
    ul.listnav
      li.listnav-item.acr_tit − カジノゲームの遊び方
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") バカラ
        li.listnav-item
          a(href=dir+"") ブラックジャック
        li.listnav-item
          a(href=dir+"") ビデオスロット
        li.listnav-item
          a(href=dir+"") ポーカー
        li.listnav-item
          a(href=dir+"") ルーレット
        li.listnav-item
          a(href=dir+"") シックポー
        li.listnav-item
          a(href=dir+"") スポーツベット
    ul.listnav
      li.listnav-item.acr_tit − オンラインカジノで使える決済方法
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") クレジットカード・デビットカード
        li.listnav-item
          a(href=dir+"") ecoPayz（エコペイズ）
        li.listnav-item
          a(href=dir+"") VenusPoint（ヴィーナスポイント）
        li.listnav-item
          a(href=dir+"") iWallet（アイウォレット）
        li.listnav-item
          a(href=dir+"") STICPAY（スティックペイ）
        li.listnav-item
          a(href=dir+"") Bitcoin（ビットコイン）
    ul.listnav
      li.listnav-item.acr_tit − その他
      ul.sublistnav
        li.listnav-item
          a(href=dir+"") カジノ法案
        li.listnav-item
          a(href=dir+"") 世界のカジノ
        li.listnav-item
          a(href=dir+"") カジノ攻略法・必勝法
        li.listnav-item
          a(href=dir+"") カジモ編集部のご紹介
        li.listnav-item
          a(href=dir+"") プライバシーポリシー
        li.listnav-item
          a(href=dir+"") お問い合わせ
  .footer-info
    .text_center
      img(src=dirShare+"certify-gpwa.png", alt="GPWA")
    .logo
      a(href=dir+'')
        img(alt='CASIMO', src=dirShare+'logoft.png')
    p Copyright© Casimo（カジモ） All Rights Reserved.
    
  //- .backtop
  //-   .backtop-icon
  //-     a(href='javascript:void(0)').lh00
  //-       img(src=dirShare+'backtop.png', alt='PAGE UP')