if(navlevel == 1)
    nav.container.header_nav_inside
        ul.nav-list
            li.nav-list-item
                span.fontspec
                    img(src=dirShare+'menu.png', alt="MENU")
            li.nav-list-item
                a(href=dir+'') ホーム
            li.nav-list-item
                a(href=dir+'') おすすめオンラインカジノ
            li.nav-list-item
                a(href=dir+'') オンラインカジノ基礎編
            li.nav-list-item
                a(href=dir+'') おすすめオンラインカジノ
            li.nav-list-item
                a(href=dir+'') オンラインカジノ応用編
            li.nav-list-item
                a(href=dir+'') 決済方法一覧
if(navlevel == 2)
    nav.container.header_nav_inside.header_nav_dropdown
        ul.nav-list.js-navheader
            li.nav-list-item
                a(href=dir+'') TOP
            li.nav-list-item.megamenu.dropdown
                a(href='javascript:void(0)') Dropdown
                ul.js-dropdown.childmenu
                    li.nav-list-item
                        a(href=dir+'') Submenu1
                    li.nav-list-item
                        a(href=dir+'') Submenu2
                    li.nav-list-item
                        a(href=dir+'') Submenu3
                    li.nav-list-item
                        a(href=dir+'') Submenu4
                    li.nav-list-item
                        a(href=dir+'') Submenu5
            li.nav-list-item.megamenu
                a(href='javascript:void(0)') MegaMenu
                .js-dropdown.childmenu.megamenu_inside
                    ul.megamenu_list
                        li.megamenu_col
                            span.megamenu_title Mega Title
                            ul
                                li.megamenu_col-item
                                    a(href=dir+'') Menu
                                li.megamenu_col-item
                                    a(href=dir+'') Menu1
                                li.megamenu_col-item
                                    a(href=dir+'') Menu2
                        li.megamenu_col
                            span.megamenu_title Mega Title
                            ul
                                li.megamenu_col-item
                                    a(href=dir+'') Menu
                                li.megamenu_col-item
                                    a(href=dir+'') Menu1
                                li.megamenu_col-item
                                    a(href=dir+'') Menu2
                        li.megamenu_col
                            span.megamenu_title Mega Title
                            ul
                                li.megamenu_col-item
                                    a(href=dir+'') Menu
                                li.megamenu_col-item
                                    a(href=dir+'') Menu1
                                li.megamenu_col-item
                                    a(href=dir+'') Menu2
                        li.megamenu_col
                            span.megamenu_title Mega Title
                            ul
                                li.megamenu_col-item
                                    a(href=dir+'') Menu
                                li.megamenu_col-item
                                    a(href=dir+'') Menu1
                                li.megamenu_col-item
                                    a(href=dir+'') Menu2
            li.nav-list-item
                a(href=dir+'') Menu
            li.nav-list-item
                a(href=dir+'') Menu
            li.nav-list-item
                a(href=dir+'') Menu